
backend/data_test/
backend/turtlekeeper
backend/turtlekeeper.exe
backend/turtlekeeper_test
# Binaries
*.db
*.db-shm
*.db-wal
# DB
.DS_Store
# Editor
*.exe
.idea/
*.log
# Logs
# OS
*.out
*.sqlite
*.sqlite3
*.swp
*.test
Thumbs.db
.vscode/
